# Generate Axial Plots

In [1]:
import numpy as np
import pandas as pd
from axial import axial

## I. Volcano & Bar

### Human

In [2]:
human = pd.read_csv('../data/Yamuna/Human_NT_vs_ABCD1_DESeq2_results.tsv', sep='\t', header=None, names=['GeneID','Base mean','log2(FC)','StdErr','Wald-Stats','P-value','P-adj']).set_index('GeneID')
human['log2(FC)'] = human['log2(FC)'] * -1
human.head()

           Base mean  log2(FC)    StdErr  Wald-Stats  P-value  P-adj
GeneID
TAGLN2   3702.951794 -2.954344  0.056286   52.488180      0.0    0.0
UHMK1    3543.839403 -3.225018  0.067672   47.656533      0.0    0.0
CSRP1    4592.587776  1.856967  0.046232  -40.165842      0.0    0.0
CAPN2   10417.715365  2.116233  0.045564  -46.445277      0.0    0.0
RHOB    10401.154292 -1.758295  0.045384   38.742385      0.0    0.0

In [3]:
human['q'] = -np.log10(human['P-adj'])
human_max_finite_log_qVal = np.max(human['q'][np.isfinite(human['q'])])
human['q'] = np.around(np.clip(human['q'], 0, human_max_finite_log_qVal), decimals=3)
print("max q-val: " + str(human_max_finite_log_qVal))

human['logFC'] = np.around(human['log2(FC)'], decimals=3)
human = human.dropna(how='any', subset=['logFC', 'q'])

max q-val: 302.6710250087188

/Users/alex/Documents/abcd1/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log10
  """Entry point for launching an IPython kernel.

In [4]:
axial.volcano(human, 
              title='ABCD1 KO Transcriptome', 
              scripts_mode='CDN', 
              data_mode='inline', 
              organism='human', 
              output_dir='../docs', 
              filename='volcano.html', 
              version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/volcano.html')

In [5]:
axial.bar(human, 
          title='ABCD1 KO Transcriptome', 
          scripts_mode='CDN', 
          data_mode='inline', 
          organism='human', 
          output_dir='../docs', 
          filename='bar.html', 
          version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/bar.html')

### Mouse

In [6]:
mouse = pd.read_csv('../data/Yamuna/Mouse_NT_vs_ABCD1_DESeq2_results.tsv', sep='\t', header=None, names=['GeneID','Base mean','log2(FC)','StdErr','Wald-Stats','P-value','P-adj']).set_index('GeneID')
mouse['log2(FC)'] = mouse['log2(FC)'] * -1
mouse.head()

,Base mean,log2(FC),StdErr,Wald-Stats,P-value,P-adj
GeneID,,,,,,
Timp2,6898.429574,3.955563,0.096145,-41.141552,0.000000e+00,0.000000e+00
Tmbim6,6188.554131,1.990989,0.063462,-31.372878,4.744136e-216,4.415842e-212
Cdc34,1881.032867,-2.176991,0.075121,28.979662,1.187292e-184,7.367543e-181
Lipa,3256.752104,2.064111,0.072635,-28.417525,1.228353e-177,5.716754e-174
Selp,3124.381122,-2.682026,0.102079,26.273974,3.804801e-152,1.416603e-148

In [7]:
mouse['q'] = -np.log10(mouse['P-adj'])
mouse_max_finite_log_qVal = np.max(mouse['q'][np.isfinite(mouse['q'])])
mouse['q'] = np.around(np.clip(mouse['q'], 0, mouse_max_finite_log_qVal), decimals=3)
print("max q-val: " + str(mouse_max_finite_log_qVal))

mouse['logFC'] = np.around(mouse['log2(FC)'], decimals=3)
mouse = mouse.dropna(how='any', subset=['logFC', 'q'])

max q-val: 211.3549864860441

/Users/alex/Documents/abcd1/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log10
  """Entry point for launching an IPython kernel.

In [8]:
axial.volcano(mouse, 
              title='ABCD1 KO Transcriptome', 
              scripts_mode='CDN', 
              data_mode='inline', 
              organism='mouse', 
              output_dir='../docs', 
              filename='mouse_volcano.html', 
              version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/mouse_volcano.html')

In [9]:
axial.bar(mouse, 
          title='ABCD1 KO Transcriptome', 
          scripts_mode='CDN', 
          data_mode='inline', 
          organism='mouse', 
          output_dir='../docs', 
          filename='mouse_bar.html', 
          version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/mouse_bar.html')

### Lee

In [10]:
lee = pd.read_csv('../data/Lee/Lee_DESeq2.tsv', sep='\t', header=None, names=['GeneID','Base mean','log2(FC)','StdErr','Wald-Stats','P-value','P-adj']).set_index('GeneID')
lee.head()

,Base mean,log2(FC),StdErr,Wald-Stats,P-value,P-adj
GeneID,,,,,,
CTSF,530.623969,7.625389,0.305383,24.969883,1.298958e-137,3.458606e-133
AC006039.4,69.056857,2.395232,0.188938,12.677335,7.897114e-37,1.051343e-32
PRSS12,5631.132313,2.155079,0.171747,12.548020,4.075745e-36,3.617360e-32
SOX7,612.479651,2.390252,0.203622,11.738663,8.075288e-32,5.375316e-28
SLC1A6,345.256285,2.108443,0.181737,11.601616,4.043717e-31,2.153360e-27

In [11]:
lee['q'] = -np.log10(lee['P-adj'])
lee_max_finite_log_qVal = np.max(lee['q'][np.isfinite(lee['q'])])
lee['q'] = np.around(np.clip(lee['q'], 0, lee_max_finite_log_qVal), decimals=3)
print("max q-val: " + str(lee_max_finite_log_qVal))

lee['logFC'] = np.around(lee['log2(FC)'], decimals=3)
lee = lee.dropna(how='any', subset=['logFC', 'q'])

max q-val: 132.461098939291

In [12]:
axial.volcano(lee, 
              title='ABCD1 KO Transcriptome', 
              scripts_mode='CDN', 
              data_mode='inline', 
              organism='human', 
              output_dir='../docs', 
              filename='lee_volcano.html', 
              version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/lee_volcano.html')

In [13]:
axial.bar(lee, 
          title='ABCD1 KO Transcriptome', 
          scripts_mode='CDN', 
          data_mode='inline', 
          organism='human', 
          output_dir='../docs', 
          filename='lee_bar.html', 
          version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/lee_bar.html')

## II. Braid

### Human

In [14]:
human = pd.read_csv('../data/Yamuna/Normalized_counts_Yamuna_human.tsv', sep='\t', index_col=0).round(3)
human = human[~(human.sum(axis=1) == 0)]
human.head()

,Human_ABCD1_1,Human_ABCD1_2,Human_ABCD1_3,Human_NT_1,Human_NT_2,Human_NT_3
DDX11L1,0.000,1.217,0.920,0.000,1.988,0.867
WASH7P,25.774,38.939,18.398,40.293,56.661,28.625
MIR6859-1,9.205,8.518,7.359,11.664,2.982,6.939
RP11-34P13.7,0.000,0.000,0.000,0.000,0.994,0.000
RP11-34P13.15,1.841,0.000,0.000,0.000,0.000,0.867

In [15]:
human_classes = pd.DataFrame(human.columns.str.split('_').tolist(), columns=['system', 'condition', 'replicate'], index=human.columns)
del human_classes['replicate']
human_classes

              system condition
Human_ABCD1_1  Human     ABCD1
Human_ABCD1_2  Human     ABCD1
Human_ABCD1_3  Human     ABCD1
Human_NT_1     Human        NT
Human_NT_2     Human        NT
Human_NT_3     Human        NT

In [16]:
axial.braid(human,
            human_classes,
            title='ABCD1 KO Transcriptome', 
            scripts_mode='CDN', 
            data_mode='inline', 
            organism='human', 
            output_dir='../docs', 
            filename='braid.html', 
            version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/braid.html')

### Mouse

In [17]:
mouse = pd.read_csv('../data/Yamuna/Normalized_counts_Yamuna_mouse.tsv', sep='\t', index_col=0).round(3)
mouse = mouse[~(mouse.sum(axis=1) == 0)]
mouse.head()

,Mouse_ABCD1_1,Mouse_ABCD1_2,Mouse_ABCD1_3,Mouse_NT_1,Mouse_NT_2,Mouse_NT_3
RP23-115I1.2,0.000,0.000,1.896,0.000,0.000,0.000
Rp1,14.430,5.570,9.481,3.776,1.960,2.270
RP23-391E12.2,2.061,0.000,0.000,0.000,0.000,0.000
Sox17,1574.882,1658.970,1669.566,2686.674,2382.864,2183.520
RP23-285G23.2,18.552,7.427,5.688,9.440,16.657,12.484

In [18]:
mouse_classes = pd.DataFrame(mouse.columns.str.split('_').tolist(), columns=['system', 'condition', 'replicate'], index=mouse.columns)
del mouse_classes['replicate']
mouse_classes

              system condition
Mouse_ABCD1_1  Mouse     ABCD1
Mouse_ABCD1_2  Mouse     ABCD1
Mouse_ABCD1_3  Mouse     ABCD1
Mouse_NT_1     Mouse        NT
Mouse_NT_2     Mouse        NT
Mouse_NT_3     Mouse        NT

In [19]:
axial.braid(mouse,
            mouse_classes,
            title='ABCD1 KO Transcriptome', 
            scripts_mode='CDN', 
            data_mode='inline', 
            organism='mouse', 
            output_dir='../docs', 
            filename='mouse_braid.html', 
            version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/mouse_braid.html')

### Lee

In [20]:
lee = pd.read_csv('../data/Lee/Normalized_counts_Lee.tsv', sep='\t', index_col=0).round(3)
lee.columns = 'Lee_' + lee.columns.str.split(':').str[0]
lee = lee[~(lee.sum(axis=1) == 0)]
lee.columns = lee.columns.str[:-1] + "_" + lee.columns.str[-1]
lee.head()

,Lee_ccALD_3,Lee_ccALD_2,Lee_ccALD_1,Lee_WT_3,Lee_WT_2,Lee_WT_1
DDX11L1,1.021,0.997,0.000,3.085,0.000,0.000
WASH7P,634.996,480.679,394.198,483.241,452.629,499.030
MIR6859-1,57.170,39.890,43.381,46.268,57.477,64.052
RP11-34P13.3,1.021,0.000,5.658,2.056,0.000,2.868
RP11-34P13.7,1.021,0.997,4.715,1.028,3.079,4.780

In [21]:
lee_classes = pd.DataFrame(lee.columns.str.split('_').tolist(), columns=['system', 'condition', 'replicate'], index=lee.columns)
del lee_classes['replicate']
lee_classes['system'] = 'iPSC'
lee_classes

            system condition
Lee_ccALD_3   iPSC     ccALD
Lee_ccALD_2   iPSC     ccALD
Lee_ccALD_1   iPSC     ccALD
Lee_WT_3      iPSC        WT
Lee_WT_2      iPSC        WT
Lee_WT_1      iPSC        WT

In [22]:
axial.braid(lee,
            lee_classes,
            title='ABCD1 KO Transcriptome', 
            scripts_mode='CDN', 
            data_mode='inline', 
            organism='human', 
            output_dir='../docs', 
            filename='lee_braid.html', 
            version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/lee_braid.html')

## II. Heatmap

### Mouse, Human, Barres, and Lee Merged

In [23]:
mouse = pd.read_csv('../data/Barres/Normalized_counts_Barres_mouse.tsv', sep='\t', index_col=0).round(3)
mouse = mouse[~(mouse.sum(axis=1) == 0)]
mouse = mouse.rename(columns={'Barres_Endothelial_Cells_rep1': 'Mouse_Barres_1', 'Barres_Endothelial_Cells_rep2': 'Mouse_Barres_2'})
mouse.head()

,Mouse_Barres_1,Mouse_Barres_2,Mouse_NT_1,Mouse_NT_2,Mouse_NT_3,Mouse_ABCD1_1,Mouse_ABCD1_2,Mouse_ABCD1_3
Xkr4,7.950,7.548,0.000,0.000,0.00,0.000,0.000,0.000
RP23-115I1.2,1.136,0.000,0.000,0.000,0.00,0.000,0.000,2.275
RP23-122M2.3,1.136,0.000,0.000,0.000,0.00,0.000,0.000,0.000
Rp1,80.067,62.707,4.508,2.352,2.72,17.496,6.694,11.377
RP23-391E12.2,0.000,0.000,0.000,0.000,0.00,2.499,0.000,0.000

In [24]:
mouse_classes = pd.DataFrame(mouse.columns.str.split('_').tolist(), columns=['system', 'condition', 'replicate'], index=mouse.columns)
del mouse_classes['replicate']
mouse_classes

               system condition
Mouse_Barres_1  Mouse    Barres
Mouse_Barres_2  Mouse    Barres
Mouse_NT_1      Mouse        NT
Mouse_NT_2      Mouse        NT
Mouse_NT_3      Mouse        NT
Mouse_ABCD1_1   Mouse     ABCD1
Mouse_ABCD1_2   Mouse     ABCD1
Mouse_ABCD1_3   Mouse     ABCD1

In [25]:
mouse.index = mouse.index.str.upper()

In [26]:
merged = pd.concat([human, mouse, lee], axis=1, sort=True).dropna(how='all', subset=["Human_ABCD1_1", "Human_ABCD1_2", "Human_ABCD1_3", "Human_NT_1", "Human_NT_2", "Human_NT_3"])
merged.head()

,Human_ABCD1_1,Human_ABCD1_2,Human_ABCD1_3,Human_NT_1,Human_NT_2,Human_NT_3,Mouse_Barres_1,Mouse_Barres_2,Mouse_NT_1,Mouse_NT_2,Mouse_NT_3,Mouse_ABCD1_1,Mouse_ABCD1_2,Mouse_ABCD1_3,Lee_ccALD_3,Lee_ccALD_2,Lee_ccALD_1,Lee_WT_3,Lee_WT_2,Lee_WT_1
A1BG,3.682,1.217,1.840,1.060,0.994,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.231,1.138,3.063,9.973,2.829,0.000,6.158,12.428
A1BG-AS1,7.364,23.120,7.359,19.086,16.899,13.011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.818,107.704,89.590,94.592,132.402,133.839
A1CF,1.841,3.650,1.840,0.000,0.000,0.000,0.000,0.000,2.254,9.408,6.801,3.749,17.851,5.688,0.000,7.978,5.658,0.000,4.105,5.736
A2M,135.314,120.466,122.348,201.463,283.305,233.339,6.814,12.774,0.000,0.000,0.000,0.000,0.000,0.000,32.669,25.929,34.893,30.845,23.606,70.744
A2ML1,2.762,0.000,0.920,2.121,1.988,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,987.204,2428.328,1041.135,605.593,1265.513,582.202

In [27]:
merged_classes = pd.concat([human_classes, mouse_classes, lee_classes]).replace('ccALD', 'ABCD1').replace('WT', 'NT')
merged_classes

               system condition
Human_ABCD1_1   Human     ABCD1
Human_ABCD1_2   Human     ABCD1
Human_ABCD1_3   Human     ABCD1
Human_NT_1      Human        NT
Human_NT_2      Human        NT
Human_NT_3      Human        NT
Mouse_Barres_1  Mouse    Barres
Mouse_Barres_2  Mouse    Barres
Mouse_NT_1      Mouse        NT
Mouse_NT_2      Mouse        NT
Mouse_NT_3      Mouse        NT
Mouse_ABCD1_1   Mouse     ABCD1
Mouse_ABCD1_2   Mouse     ABCD1
Mouse_ABCD1_3   Mouse     ABCD1
Lee_ccALD_3      iPSC     ABCD1
Lee_ccALD_2      iPSC     ABCD1
Lee_ccALD_1      iPSC     ABCD1
Lee_WT_3         iPSC        NT
Lee_WT_2         iPSC        NT
Lee_WT_1         iPSC        NT

In [28]:
axial.heatmap(merged,
              merged_classes,
              title='ABCD1 KO Transcriptome', 
              scripts_mode='CDN', 
              data_mode='inline', 
              organism='human', 
              output_dir='../docs', 
              filename='heatmap.html', 
              version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/heatmap.html')

### Mouse, Human, Lee, Jang, and Muffat Merged

### Jang

In [30]:
jang = pd.read_csv('../data/Jang/Jang.csv', index_col=0)
jang.head()

,Jang-hESCs_Control_71,Jang-hESCs_Control_72,Jang-hESCs_Control_73,Jang-iPSCs_Control_74,Jang-iPSCs_Control_75,Jang-iPSCs_Control_76,Jang-iPSCs_AMN_77,Jang-iPSCs_AMN_78,Jang-iPSCs_AMN_79,Jang-iPSCs_CCALD_80,Jang-iPSCs_CCALD_81,Jang-iPSCs_CCALD_82
A1BG,6.783346,6.776958,6.795812,6.728081,6.822618,6.733021,6.802505,6.777705,7.035105,6.718123,6.806478,6.807935
A1BG-AS1,6.576109,6.533098,6.452472,6.395807,6.646602,6.512293,6.548372,6.485149,6.427360,6.250021,6.582812,6.435398
A1CF,6.410723,6.460727,6.647604,6.474361,6.461917,6.553724,6.569535,6.380732,6.583363,6.459121,6.502030,6.564174
A2M,6.296271,6.198797,6.267357,6.226990,6.397614,6.078723,6.265612,6.303778,6.102758,6.176963,6.293784,6.317991
A2ML1,7.570930,7.473169,7.149522,7.324126,7.020197,7.128969,7.336106,7.137465,6.722119,6.671977,6.959798,6.954089

In [31]:
jang_classes = pd.DataFrame(jang.columns.str.split('_').tolist(), columns=['system', 'condition', 'replicate'], index=jang.columns).replace("Control","NT")
del jang_classes['replicate']
jang_classes

                           system condition
Jang-hESCs_Control_71  Jang-hESCs        NT
Jang-hESCs_Control_72  Jang-hESCs        NT
Jang-hESCs_Control_73  Jang-hESCs        NT
Jang-iPSCs_Control_74  Jang-iPSCs        NT
Jang-iPSCs_Control_75  Jang-iPSCs        NT
Jang-iPSCs_Control_76  Jang-iPSCs        NT
Jang-iPSCs_AMN_77      Jang-iPSCs       AMN
Jang-iPSCs_AMN_78      Jang-iPSCs       AMN
Jang-iPSCs_AMN_79      Jang-iPSCs       AMN
Jang-iPSCs_CCALD_80    Jang-iPSCs     CCALD
Jang-iPSCs_CCALD_81    Jang-iPSCs     CCALD
Jang-iPSCs_CCALD_82    Jang-iPSCs     CCALD

### Muffat

In [32]:
muffat = pd.read_csv('../data/Muffat/Muffat.csv', index_col=0)
muffat.head()

,Muffat-FMG__1,Muffat-FMG__2,Muffat-FMG__1-NCM,Muffat-NPC__1,Muffat-NPC__2,Muffat-NPC__3,Muffat-NPC__4,Muffat-pMGL__1,Muffat-pMGL__2,Muffat-pMGL__31,Muffat-pMGL__32,Muffat-pMGL__4,Muffat-pMGL__5,Muffat-pMGL__1-NCM,Muffat-pMGL__2-NCM,Muffat-pMGL__3-NCM
DDX11L1,0,2,0,0,0,0,0,0,0,2,0,0,1,0,0,0
WASH7P,2,3,10,19,31,29,24,12,30,9,37,1,3,4,8,11
MIR6859-1,0,1,0,0,0,0,0,0,2,0,0,0,0,0,0,0
RP11-34P13.3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MIR1302-2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
muffat_classes = pd.DataFrame(muffat.columns.str.split('_').tolist(), columns=['system', 'condition', 'replicate'], index=muffat.columns).replace("Control","NT")
muffat_classes

                         system condition replicate
Muffat-FMG__1        Muffat-FMG                   1
Muffat-FMG__2        Muffat-FMG                   2
Muffat-FMG__1-NCM    Muffat-FMG               1-NCM
Muffat-NPC__1        Muffat-NPC                   1
Muffat-NPC__2        Muffat-NPC                   2
Muffat-NPC__3        Muffat-NPC                   3
Muffat-NPC__4        Muffat-NPC                   4
Muffat-pMGL__1      Muffat-pMGL                   1
Muffat-pMGL__2      Muffat-pMGL                   2
Muffat-pMGL__31     Muffat-pMGL                  31
Muffat-pMGL__32     Muffat-pMGL                  32
Muffat-pMGL__4      Muffat-pMGL                   4
Muffat-pMGL__5      Muffat-pMGL                   5
Muffat-pMGL__1-NCM  Muffat-pMGL               1-NCM
Muffat-pMGL__2-NCM  Muffat-pMGL               2-NCM
Muffat-pMGL__3-NCM  Muffat-pMGL               3-NCM

#### Personal communication from Julien Muffat: 

> NPC1/pMGL1/pMGL1+NCM refer to a control subject with no known disease

> NPC2/pMGL2/pMGL2+NCM refer to AMN patient #1

> NPC3/pMGL3/pMGL3+NCM refer to AMN patient #2

> NPC4/pMGL4 refer to AMN patient #3

In [34]:
muffat_classes['condition'] = ['NT','AMN','NT','NT','AMN','AMN','AMN','NT','AMN','AMN','AMN','AMN','AMN','NT','AMN','AMN']
del muffat_classes['replicate']
muffat_classes

                         system condition
Muffat-FMG__1        Muffat-FMG        NT
Muffat-FMG__2        Muffat-FMG       AMN
Muffat-FMG__1-NCM    Muffat-FMG        NT
Muffat-NPC__1        Muffat-NPC        NT
Muffat-NPC__2        Muffat-NPC       AMN
Muffat-NPC__3        Muffat-NPC       AMN
Muffat-NPC__4        Muffat-NPC       AMN
Muffat-pMGL__1      Muffat-pMGL        NT
Muffat-pMGL__2      Muffat-pMGL       AMN
Muffat-pMGL__31     Muffat-pMGL       AMN
Muffat-pMGL__32     Muffat-pMGL       AMN
Muffat-pMGL__4      Muffat-pMGL       AMN
Muffat-pMGL__5      Muffat-pMGL       AMN
Muffat-pMGL__1-NCM  Muffat-pMGL        NT
Muffat-pMGL__2-NCM  Muffat-pMGL       AMN
Muffat-pMGL__3-NCM  Muffat-pMGL       AMN

In [35]:
merged_classes = pd.concat([merged_classes, jang_classes, muffat_classes], sort=False)
merged_classes

                            system condition
Human_ABCD1_1                Human     ABCD1
Human_ABCD1_2                Human     ABCD1
Human_ABCD1_3                Human     ABCD1
Human_NT_1                   Human        NT
Human_NT_2                   Human        NT
Human_NT_3                   Human        NT
Mouse_Barres_1               Mouse    Barres
Mouse_Barres_2               Mouse    Barres
Mouse_NT_1                   Mouse        NT
Mouse_NT_2                   Mouse        NT
Mouse_NT_3                   Mouse        NT
Mouse_ABCD1_1                Mouse     ABCD1
Mouse_ABCD1_2                Mouse     ABCD1
Mouse_ABCD1_3                Mouse     ABCD1
Lee_ccALD_3                   iPSC     ABCD1
Lee_ccALD_2                   iPSC     ABCD1
Lee_ccALD_1                   iPSC     ABCD1
Lee_WT_3                      iPSC        NT
Lee_WT_2                      iPSC        NT
Lee_WT_1                      iPSC        NT
Jang-hESCs_Control_71   Jang-hESCs        NT
Jang-hESCs_Control_72   Jang-hESCs        NT
Jang-hESCs_Control_73   Jang-hESCs        NT
Jang-iPSCs_Control_74   Jang-iPSCs        NT
Jang-iPSCs_Control_75   Jang-iPSCs        NT
Jang-iPSCs_Control_76   Jang-iPSCs        NT
Jang-iPSCs_AMN_77       Jang-iPSCs       AMN
Jang-iPSCs_AMN_78       Jang-iPSCs       AMN
Jang-iPSCs_AMN_79       Jang-iPSCs       AMN
Jang-iPSCs_CCALD_80     Jang-iPSCs     CCALD
Jang-iPSCs_CCALD_81     Jang-iPSCs     CCALD
Jang-iPSCs_CCALD_82     Jang-iPSCs     CCALD
Muffat-FMG__1           Muffat-FMG        NT
Muffat-FMG__2           Muffat-FMG       AMN
Muffat-FMG__1-NCM       Muffat-FMG        NT
Muffat-NPC__1           Muffat-NPC        NT
Muffat-NPC__2           Muffat-NPC       AMN
Muffat-NPC__3           Muffat-NPC       AMN
Muffat-NPC__4           Muffat-NPC       AMN
Muffat-pMGL__1         Muffat-pMGL        NT
Muffat-pMGL__2         Muffat-pMGL       AMN
Muffat-pMGL__31        Muffat-pMGL       AMN
Muffat-pMGL__32        Muffat-pMGL       AMN
Muffat-pMGL__4         Muffat-pMGL       AMN
Muffat-pMGL__5         Muffat-pMGL       AMN
Muffat-pMGL__1-NCM     Muffat-pMGL        NT
Muffat-pMGL__2-NCM     Muffat-pMGL       AMN
Muffat-pMGL__3-NCM     Muffat-pMGL       AMN

In [36]:
merged = pd.concat([merged, jang, muffat], axis=1, sort=True).dropna(how='all', subset=["Human_ABCD1_1", "Human_ABCD1_2", "Human_ABCD1_3", "Human_NT_1", "Human_NT_2", "Human_NT_3"])
merged.head()

,Human_ABCD1_1,Human_ABCD1_2,Human_ABCD1_3,Human_NT_1,Human_NT_2,Human_NT_3,Mouse_Barres_1,Mouse_Barres_2,Mouse_NT_1,Mouse_NT_2,...,Muffat-NPC__4,Muffat-pMGL__1,Muffat-pMGL__2,Muffat-pMGL__31,Muffat-pMGL__32,Muffat-pMGL__4,Muffat-pMGL__5,Muffat-pMGL__1-NCM,Muffat-pMGL__2-NCM,Muffat-pMGL__3-NCM
A1BG,3.682,1.217,1.840,1.060,0.994,0.000,0.000,0.000,0.000,0.000,...,91.0,26.0,33.0,64.0,31.0,10.0,20.0,43.0,11.0,29.0
A1BG-AS1,7.364,23.120,7.359,19.086,16.899,13.011,NaN,NaN,NaN,NaN,...,63.0,269.0,266.0,318.0,185.0,177.0,162.0,197.0,196.0,313.0
A1CF,1.841,3.650,1.840,0.000,0.000,0.000,0.000,0.000,2.254,9.408,...,12.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A2M,135.314,120.466,122.348,201.463,283.305,233.339,6.814,12.774,0.000,0.000,...,9322.0,208040.0,362471.0,154932.0,48420.0,81001.0,264120.0,154591.0,114102.0,81442.0
A2ML1,2.762,0.000,0.920,2.121,1.988,0.000,NaN,NaN,NaN,NaN,...,116.0,298.0,62.0,2.0,0.0,2.0,1.0,655.0,0.0,18.0

In [37]:
axial.heatmap(merged,
              merged_classes,
              title='ABCD1 KO Transcriptome', 
              scripts_mode='CDN', 
              data_mode='inline', 
              organism='human', 
              output_dir='../docs', 
              filename='full_heatmap.html', 
              version="latest")

PosixPath('/Users/alex/Documents/abcd1/docs/full_heatmap.html')